<div *ngIf="quote$">
  <div id="container">
    <blockquote>
      {{ quote$.quote }}
      <div [ngSwitch]="quote$.author" class="author">
        <img *ngSwitchCase="'Badger'" src="assets/img/characters/badger.png">
        <img *ngSwitchCase="'Gustavo Fring'" src="assets/img/characters/gustavo-fring.png">
        <img *ngSwitchCase="'Hank Schrader'" src="assets/img/characters/hank.png">
        <img *ngSwitchCase="'Jesse Pinkman'" src="assets/img/characters/jesse-pinkman.png">
        <img *ngSwitchCase="'Mike Ehrmantraut'" src="assets/img/characters/mike.png">
        <img *ngSwitchCase="'Saul Goodman'" src="assets/img/characters/saul-goodman.png">
        <img *ngSwitchCase="'Skyler'" src="assets/img/characters/skyler.png">        
        <img *ngSwitchCase="'The fly'" src="assets/img/characters/fly.png">
        <img *ngSwitchCase="'Walter White'" src="assets/img/characters/walter-white.png">
        <img *ngSwitchDefault src="assets/img/no-photo.png">
        <span>{{ quote$.author }}</span>
      </div>
    </blockquote>
    <a (click)="getNewQuote()" class="button-reset">
      <i class="material-icons">refresh</i>
    </a>
  </div>
</div>

