.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

blockquote{
  font-size: 1em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 1.2em 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

#container{
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  margin: 0 auto;
}

.author{
  margin-top: 10px; 
  display: flex;

  span{
    margin-left: 20px;
  }
}

img {
  border-radius: 50%;
  height: 70px;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  background-color: #24292F;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 20%;
  text-align: center;
  padding: 20px 10px 0px 10px;
}

a:hover {
  background-color: #333339;
}

@media only screen and (max-width: 768px) {
  #container{
    width: 90%;
  }

  blockquote{
    padding: 1.2em 1.2em 1.2em 45px;
  }
}
